@import '../../../styles/variables';
.nav_links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 0.5rem;
  height: 100%;
  &:hover {
    border-bottom: 4px solid #252525;
    transition: all 0.2s ease-out;
  }
}