// .RichEditor_root {
//   background: #fff;
//   border: 1px solid #ddd;
//   font-family: "Georgia", serif;
//   font-size: 14px;
//   padding: 15px;
// }

// .RichEditor_editor {
//   border-top: 1px solid #ddd;
//   cursor: text;
//   font-size: 16px;
//   margin-top: 10px;
// }

// .RichEditor_editor .public_DraftEditorPlaceholder_root,
// .RichEditor_editor .public_DraftEditor_content {
//   margin: 0 _15px _15px;
//   padding: 15px;
// }

// .RichEditor_editor .public_DraftEditor_content {
//   min-height: 100px;
// }

// .RichEditor_hidePlaceholder .public_DraftEditorPlaceholder_root {
//   display: none;
// }

// .RichEditor_editor .RichEditor_blockquote {
//   border-left: 5px solid #eee;
//   color: #666;
//   font-family: "Hoefler Text", "Georgia", serif;
//   font-style: italic;
//   margin: 16px 0;
//   padding: 10px 20px;
// }

// .RichEditor_editor .public_DraftStyleDefault_pre {
//   background-color: rgba(0, 0, 0, 0.05);
//   font-family: "Inconsolata", "Menlo", "Consolas", monospace;
//   font-size: 16px;
//   padding: 20px;
// }

// .RichEditor_controls {
//   font-family: "Helvetica", sans_serif;
//   font-size: 14px;
//   margin-bottom: 5px;
//   user-select: none;
// }

// .RichEditor_styleButton {
//   color: #999;
//   cursor: pointer;
//   margin-right: 16px;
//   padding: 2px 0;
//   display: inline_block;
// }

// .RichEditor_activeButton {
//   color: #5890ff;
// }
