@import '../../styles/globals';
.cards {
  padding: 4rem;
  background: #fff;
}

.card_title {
  text-align: center;
}

.cards_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}


