.sidebar {
  height: 100vh;
  width: 150px;
  background-color: #2f4050;
}

.sidebarlist {
  height: auto;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
}

.sidebarlist,
.row {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}


.icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.title {
  flex: 70%;
}

@media screen and (max-width: 1024px) {
  .icon {
      flex: 100%;
      display: grid;
      place-items: center;
    }
    
    .title {
      display: none;
    }
    .sidebar {
      width: 50px;
    }
}