.adminlayout_container {
    display: flex;
    position: relative;
    // height: 100%;
}

.sidebar_item{
    flex: 30%;
}

.element_item {
    flex: 70%;
    padding-top: 8px; 
    margin-top: 0px
}


