// .dashboard {
//     height: auto;
//     width: 100%;
//     background-color: red;
// }

// .dashboard_container {
    // max-width: 900px;
    // max-height: 900px;
// }

.doughnut_canvas_container {
    width: 100%;
    height: 300px;
}

.line_container {
    width: 100%;
    padding: 10px;
    height: 100%;
}
