@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap");

// add editor css 
// @import '../node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css';
// @import '../node_modules/draft-js/dist/Draft.css';
// @import  'react-quill/dist/quill.snow.css';
// @import '~quill/dist/quill.core.css';
// @import '~quill/dist/quill.bubble.css';
// @import '~quill/dist/quill.snow.css';

// add bootstrap css 
// @import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.layout_container {
  width: auto;
  height: 100%;
  color:black;
}

.admin_layout_container {
  width: auto;
  height: 100vh;
}
